{% extends 'base.html' %} {% block body %}
<style>
    .for {
        margin-top: 10%;
        margin-left: 23%;
    }
    
    .fore {
        margin-top: 10%;
        margin-left: 23%;
        width: 56%;
        background-color: #fff;
        border: 1px solid #c5c5c5;
        margin-bottom: 2em;
        padding: 1em;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    }
</style>


<div class="fore">
    <form method="POST" action="{% url 'register' %}" class="for form-horizontal">
        {% csrf_token %} 
        <div class="form-group">
            <label class="control-label col-sm-2" for="prenom">Username:</label>
            <div class="col-sm-10">
                {{ form.username }}
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nom">Password:</label>
            <div class="col-sm-10">
                {{ form.password1 }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nom">Confirm password:</label>
            <div class="col-sm-10">
                {{ form.password2 }}
            </div>
        </div>
        {% if form.errors %}
        <p style="color:red">il y a des erreurs </p>
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Register" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
{% endblock %}