 {% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="rows">
        <h1>À propos de TDSISecurity.com</h1>
        <h3> Qu'est-ce que TDSISecurity.com?</h3>
        <p> TDSISecurity.com publie des articles sur la création, l'adoption et le partage de solutions open source. Rejoignez la communauté TDSISecurity.com et apprenez comment la méthode TDSISecurity améliore les technologies, l'éducation, les affaires,
            le gouvernement, la santé, le droit, le divertissement, les efforts humanitaires, etc. </p>
        <h3>Notre histoire </h3>
        <p> Moussa DUEDHIOU , a annoncé le lancement de TDSISecurity.com dans un message du 24 Mars 2018, Bienvenue dans la conversation sur TDSISecurity.com . Il a expliqué: "Ce site est l’un des moyens par lesquels Red Hat donne quelque chose à la communauté
            TDSISecurity. Notre souhait est de créer un point de connexion pour discuter de l’impact plus large de TDSISecurity le monde du logiciel. " Il a écrit, ajoutant: "Toutes les idées sont les bienvenues, et tous les participants sont les bienvenus.
            Ce ne sera pas un site pour Red Hat, à propos de Red Hat. Au lieu de cela, ce sera un site open source."</p>
        <!-- En 2013, Opensource.com publiait en moyenne 46 articles par mois et en moyenne 187 000 pages vues. En 2016, Opensource.com a publié en moyenne 95 articles par mois et, en mars, le site a dépassé le million de pages vues pour la première fois. En octobre
        2017, le site comptait plus de 700 000 visiteurs uniques et en moyenne 80 articles par mois. Comment le site at-il atteint ces nouveaux jalons? La réponse est simple: la communauté. Plus de 60% du contenu de Opensource.com est fourni par des membres
        de communautés open source, et des articles supplémentaires sont rédigés par l'équipe éditoriale et d'autres contributeurs Red Hat. Une petite équipe internationale de modérateurs communautaires et l'équipe de rédaction travaillent en étroite
        collaboration avec les membres des communautés open source pour organiser, polir, publier et promouvoir des articles open source du monde entier. -->
    </div>
</div>
{% endblock %}