{% extends 'base.html' %} {% block body %}
<div class="container">

    <!--p>Bonjour les amies </p-->
    {% if user.is_authenticated %}
    <h2> username :{{ user.username }}</h2>
    {% endif %}

    <div class="card-group">
        <div class="card">
            <h5 class="card-title">Card title</h5>
            <img class="card-img-top" src="http://placehold.it/280x180" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <img class="card-img-top" src="http://placehold.it/280x180" alt="Card image cap">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>

                    <img class="card-img-top" src="http://placehold.it/280x180" alt="Card image cap">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}