{% extends 'base.html' %} {% block body %}
<style>
    .jubo{
        background-color: darkslategray;
        margin-top: 10%
        
    }
</style>
<div class="container">
    <div class="rows">
        <div class="jumbotron jubo jumbotron-fluid">
            <div class="container">
              <h1 class="display-4" style="text-align: center ;color: white">Bienvenue dans TDSI Security</h1>
              <p class="lead " style="text-align: center ;color: white ">Une inovation dans l'entreprise Senegalaise.</p>
            </div>
          </div>
    </div>
</div>
{% endblock %}